/* navbar.component.scss */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 20px;
  background-color: #f3f4f6;
}

.breadcrumb {
  font-size: 14px;
  color: gray;
}

.page-title {
  font-size: 14px;
  font-weight: bold;
  margin-left: 4px;
  color: #1D2250;
}
